<figure class="segmentfigure">  
    <table width="100%" cellpadding="0" callspacing="0">
        <tr>
         <td width="20%"><app-boton-info text="Sobre Mi" color=#0d6efd></app-boton-info></td>
         <td width="20%" style="text-align:justify"><app-boton-trabajos text="Experiencia Laboral" color=#0d6efd></app-boton-trabajos></td>
         <td width="20%" style="text-align:center"><app-boton-educacion text="Educacion" color=#0d6efd></app-boton-educacion></td>
         <td width="20%" style="text-align:center"><app-boton-habilidades text="Habilidades" color=#0d6efd></app-boton-habilidades></td>
         <td width="20%" style="text-align:right"><app-boton-contacto text="Info de Contacto" color=#0d6efd></app-boton-contacto></td>
        </tr>
       </table>
</figure>